.html, body{
    color: white !important;
}
.user_nav{
    background-color: green;
}
.container{
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.bg-body-tertiary{
    color: white !important;
    background-color: #111112 !important;

}